---
layout: main
---

<p class="header">
<img src="{{ header }}" alt="{{ title }}" title="{{ title }}">
</p>

<p class="menu">
<a href="/">Home</a> - <a href="/eliot_timeline.html">Timeline</a> - <a href="/poetry_works.html">Works</a> - 
<a href="/literature_resources.html">Resources</a> - <a href="/eliot_etcetera.html">Etcetera</a> - 
<a href="/poetry_feedback.html">Feedback</a>
</p>

<div id="page">
{{ content }}
</div>

<footer>
<p class="menu">
<a href="/">Home</a> - <a href="/eliot_timeline.html">Timeline</a> - <a href="/poetry_works.html">Works</a> - 
<a href="/literature_resources.html">Resources</a> - <a href="/eliot_etcetera.html">Etcetera</a> - 
<a href="/poetry_feedback.html">Feedback</a>
</p>
</footer>
